USE [master]
GO
/****** Object:  Database [FeladatRadar]    Script Date: 4/1/2026 12:37:36 PM ******/
CREATE DATABASE [FeladatRadar]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FeladatRadar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FeladatRadar]
GO
/****** Object:  DatabaseRole [TeacherRole]    Script Date: 4/1/2026 12:37:36 PM ******/
CREATE ROLE [TeacherRole]
GO
/****** Object:  DatabaseRole [StudentRole]    Script Date: 4/1/2026 12:37:36 PM ******/
CREATE ROLE [StudentRole]
GO
/****** Object:  DatabaseRole [AdminRole]    Script Date: 4/1/2026 12:37:36 PM ******/
CREATE ROLE [AdminRole]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Username] [nvarchar](50) NULL,
	[Action] [nvarchar](200) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[EnrolledAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ExamDate] [datetime] NOT NULL,
	[Duration] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupInvites]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupInvites](
	[InviteID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[InvitedEmail] [nvarchar](200) NOT NULL,
	[InvitedBy] [int] NOT NULL,
	[IsAccepted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InviteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[GroupID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[JoinedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupScheduleEntries]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupScheduleEntries](
	[EntryID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Location] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[RecurrenceType] [nvarchar](20) NOT NULL,
	[RecurrenceEndDate] [date] NULL,
	[StartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupTasks]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupTasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[DueDate] [datetime] NOT NULL,
	[TaskType] [nvarchar](50) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollOptions]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[PollID] [int] NOT NULL,
	[OptionText] [nvarchar](200) NOT NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polls]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polls](
	[PollID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Question] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollVotes]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollVotes](
	[VoteID] [int] IDENTITY(1,1) NOT NULL,
	[PollID] [int] NOT NULL,
	[OptionID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[VotedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[VoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PollVote] UNIQUE NONCLUSTERED 
(
	[PollID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleEntries]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleEntries](
	[EntryID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Location] [nvarchar](100) NULL,
	[RecurrenceType] [nvarchar](20) NOT NULL,
	[RecurrenceEndDate] [date] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[StartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSubjects]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubjects](
	[StudentSubjectID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[SubjectCode] [nvarchar](20) NULL,
	[TeacherID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CurrentEnrollment] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[IsPrivate] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[SubjectID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DueDate] [datetime] NULL,
	[TaskType] [nvarchar](50) NULL,
	[IsCompleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[RecurrenceType] [nvarchar](20) NOT NULL,
	[RecurrenceEndDate] [date] NULL,
	[ParentTaskID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherExams]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherExams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ExamDate] [datetime2](7) NOT NULL,
	[SubjectName] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrolledAt]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupInvites] ADD  DEFAULT ((0)) FOR [IsAccepted]
GO
ALTER TABLE [dbo].[GroupInvites] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupInvites] ADD  CONSTRAINT [DF_GroupInvites_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (getdate()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupScheduleEntries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupScheduleEntries] ADD  DEFAULT ('Weekly') FOR [RecurrenceType]
GO
ALTER TABLE [dbo].[GroupTasks] ADD  DEFAULT ('Exam') FOR [TaskType]
GO
ALTER TABLE [dbo].[GroupTasks] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[GroupTasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PollOptions] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Polls] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Polls] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PollVotes] ADD  DEFAULT (getdate()) FOR [VotedAt]
GO
ALTER TABLE [dbo].[ScheduleEntries] ADD  CONSTRAINT [DF_ScheduleEntries_RecurrenceType]  DEFAULT ('None') FOR [RecurrenceType]
GO
ALTER TABLE [dbo].[ScheduleEntries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((0)) FOR [CurrentEnrollment]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((0)) FOR [IsPrivate]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_IsCompleted]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('None') FOR [RecurrenceType]
GO
ALTER TABLE [dbo].[TeacherExams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupInvites]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[GroupInvites]  WITH CHECK ADD FOREIGN KEY([InvitedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupScheduleEntries]  WITH CHECK ADD FOREIGN KEY([AddedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupScheduleEntries]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupScheduleEntries]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[GroupTasks]  WITH CHECK ADD FOREIGN KEY([AddedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupTasks]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupTasks]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[PollOptions]  WITH CHECK ADD FOREIGN KEY([PollID])
REFERENCES [dbo].[Polls] ([PollID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Polls]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Polls]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD FOREIGN KEY([OptionID])
REFERENCES [dbo].[PollOptions] ([OptionID])
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD FOREIGN KEY([PollID])
REFERENCES [dbo].[Polls] ([PollID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PollVotes]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ScheduleEntries]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[StudentSubjects]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StudentSubjects]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[TeacherExams]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TeacherExams]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [CK_Tasks_TaskType] CHECK  (([TaskType]='Other' OR [TaskType]='Personal' OR [TaskType]='Kulturalis' OR [TaskType]='Olvasas' OR [TaskType]='Sport' OR [TaskType]='Verseny' OR [TaskType]='Project' OR [TaskType]='Vizsga' OR [TaskType]='Exam' OR [TaskType]='Homework' OR [TaskType]='Assignment'))
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [CK_Tasks_TaskType]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserRole]='Admin' OR [UserRole]='Teacher' OR [UserRole]='Student'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AcceptGroupInvite]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 1. sp_AcceptGroupInvite: email-egyezés ellenőrzés hozzáadva
--    Korábban bárki elfogadhatott bármilyen meghívót, ha tudta az ID-t.
-- ============================================================
CREATE PROCEDURE [dbo].[sp_AcceptGroupInvite]
    @InviteID INT,
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InvitedEmail NVARCHAR(200);
    SELECT @InvitedEmail = Email FROM Users WHERE UserID = @StudentID;

    IF @InvitedEmail IS NULL
    BEGIN
        SELECT 'ERROR' AS Status, 'A felhasználó nem található.' AS Message;
        RETURN;
    END

    DECLARE @GroupID INT;
    SELECT @GroupID = GroupID FROM GroupInvites
    WHERE InviteID = @InviteID
      AND InvitedEmail = @InvitedEmail   -- csak a valóban meghívott fogadhatja el
      AND IsAccepted = 0;

    IF @GroupID IS NULL
    BEGIN
        SELECT 'ERROR' AS Status, 'Érvénytelen vagy már elfogadott meghívó.' AS Message;
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @StudentID)
    BEGIN
        UPDATE GroupInvites SET IsAccepted = 1, Status = 'Accepted' WHERE InviteID = @InviteID;
        SELECT 'ERROR' AS Status, 'Már tagja vagy ennek a csoportnak.' AS Message;
        RETURN;
    END

    INSERT INTO GroupMembers (GroupID, StudentID)
    VALUES (@GroupID, @StudentID);

    UPDATE GroupInvites SET IsAccepted = 1, Status = 'Accepted' WHERE InviteID = @InviteID;

    SELECT 'OK' AS Status, 'Sikeresen csatlakoztál a csoporthoz.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddGroupScheduleEntry]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ──────────────────────────────────────────────────────────────
-- 2. sp_AddGroupScheduleEntry – új paraméterek hozzáadása
-- ──────────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_AddGroupScheduleEntry]
    @GroupID            INT,
    @AddedBy            INT,
    @SubjectID          INT,
    @DayOfWeek          INT,
    @StartTime          TIME,
    @EndTime            TIME,
    @Location           NVARCHAR(100) = NULL,
    @RecurrenceType     NVARCHAR(20)  = 'Weekly',
    @RecurrenceEndDate  DATE          = NULL,
    @StartDate          DATE          = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM GroupMembers
        WHERE GroupID = @GroupID AND StudentID = @AddedBy
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Nem vagy tagja ennek a csoportnak.' AS Message;
        RETURN;
    END

    DECLARE @OwnerID   INT;
    DECLARE @OwnerRole NVARCHAR(20);

    SELECT @OwnerID = g.CreatedBy, @OwnerRole = ISNULL(u.UserRole, 'Student')
    FROM Groups g
    INNER JOIN Users u ON u.UserID = g.CreatedBy
    WHERE g.GroupID = @GroupID;

    IF @OwnerRole = 'Teacher' AND @AddedBy <> @OwnerID
    BEGIN
        SELECT 'ERROR' AS Status,
               'Tanári csoporthoz csak a csoport tulajdonosa adhat hozzá bejegyzést.' AS Message;
        RETURN;
    END

    IF @StartDate IS NULL
        SET @StartDate = CAST(GETDATE() AS DATE);

    INSERT INTO GroupScheduleEntries
        (GroupID, AddedBy, SubjectID, DayOfWeek, StartTime, EndTime, Location,
         RecurrenceType, RecurrenceEndDate, StartDate, CreatedAt)
    VALUES
        (@GroupID, @AddedBy, @SubjectID, @DayOfWeek, @StartTime, @EndTime, @Location,
         @RecurrenceType, @RecurrenceEndDate, @StartDate, GETDATE());

    SELECT 'OK' AS Status, 'Csoport órarend bejegyzés hozzáadva.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddGroupTask]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddGroupTask]
    @GroupID     INT,
    @AddedBy     INT,
    @SubjectID   INT,
    @Title       NVARCHAR(200),
    @Description NVARCHAR(1000) = NULL,
    @DueDate     DATETIME,
    @TaskType    NVARCHAR(50) = 'Exam'
AS
BEGIN
    SET NOCOUNT ON;

    -- Csak csoporttag adhat hozzá feladatot
    IF NOT EXISTS (
        SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @AddedBy
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Nem vagy tagja ennek a csoportnak.' AS Message;
        RETURN;
    END

    -- Tanári csoportban csak a tulajdonos (tanár) adhat hozzá feladatot
    DECLARE @OwnerID   INT;
    DECLARE @OwnerRole NVARCHAR(20);
    SELECT @OwnerID = g.CreatedBy, @OwnerRole = ISNULL(u.UserRole, 'Student')
    FROM Groups g
    INNER JOIN Users u ON u.UserID = g.CreatedBy
    WHERE g.GroupID = @GroupID;

    IF @OwnerRole = 'Teacher' AND @AddedBy <> @OwnerID
    BEGIN
        SELECT 'ERROR' AS Status, 'Tanári csoporthoz csak a csoport tulajdonosa adhat hozzá feladatot.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Subjects WHERE SubjectID = @SubjectID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A tantárgy nem létezik.' AS Message;
        RETURN;
    END

    INSERT INTO GroupTasks (GroupID, AddedBy, SubjectID, Title, Description, DueDate, TaskType, IsCompleted, CreatedAt)
    VALUES (@GroupID, @AddedBy, @SubjectID, @Title, @Description, @DueDate, @TaskType, 0, GETDATE());

    SELECT 'OK' AS Status, 'Csoportos feladat hozzáadva.' AS Message, SCOPE_IDENTITY() AS TaskID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddPollOption]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddPollOption]
    @PollID     INT,
    @OptionText NVARCHAR(200),
    @SortOrder  INT = 0
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO PollOptions (PollID, OptionText, SortOrder)
    VALUES (@PollID, @OptionText, @SortOrder);
    SELECT 'OK' AS Status, SCOPE_IDENTITY() AS OptionID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddScheduleEntry]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ──────────────────────────────────────────────────────────────
-- 2. sp_AddScheduleEntry – @StartDate + javított ütközésellenőrzés
-- ──────────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_AddScheduleEntry]
    @StudentID          INT,
    @SubjectID          INT,
    @DayOfWeek          INT,
    @StartTime          TIME,
    @EndTime            TIME,
    @Location           NVARCHAR(100) = NULL,
    @RecurrenceType     NVARCHAR(20)  = 'Weekly',
    @RecurrenceEndDate  DATE          = NULL,
    @StartDate          DATE          = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Beiratkozás ellenőrzés (tanároknál kihagyjuk)
    IF NOT EXISTS (
        SELECT 1 FROM Users WHERE UserID = @StudentID AND UserRole = 'Teacher'
    )
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM StudentSubjects
            WHERE StudentID = @StudentID AND SubjectID = @SubjectID
        )
        BEGIN
            SELECT 'ERROR' AS Status, 'Nem vagy beiratkozva erre a tantárgyra.' AS Message;
            RETURN;
        END
    END

    -- Ütközésellenőrzés:
    -- Biweekly és None típusnál NEM blokkolunk, mert
    -- felváltva / egyszeri jelleggel jelennek meg.
    -- Csak Weekly vs Weekly esetén van valódi ütközés.
    IF @RecurrenceType NOT IN ('Biweekly', 'None')
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM ScheduleEntries
            WHERE StudentID       = @StudentID
              AND DayOfWeek       = @DayOfWeek
              AND StartTime       < @EndTime
              AND EndTime         > @StartTime
              AND RecurrenceType NOT IN ('Biweekly', 'None')
        )
        BEGIN
            SELECT 'ERROR' AS Status,
                   'Időpontütközés: már van bejegyzésed ebben az időpontban.' AS Message;
            RETURN;
        END
    END

    IF @StartDate IS NULL
        SET @StartDate = CAST(GETDATE() AS DATE);

    INSERT INTO ScheduleEntries
        (StudentID, SubjectID, DayOfWeek, StartTime, EndTime, Location,
         RecurrenceType, RecurrenceEndDate, StartDate, CreatedAt)
    VALUES
        (@StudentID, @SubjectID, @DayOfWeek, @StartTime, @EndTime, @Location,
         @RecurrenceType, @RecurrenceEndDate, @StartDate, GETDATE());

    SELECT 'OK' AS Status, 'Órarend bejegyzés hozzáadva.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddTask]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 6. sp_AddTask: RecurrenceEndDate paraméter típusa DATE-re javítva
--    (a Tasks tábla DATE típusú oszlopot használ, az SP korábban DATETIME-ot vett fel)
-- ============================================================
CREATE PROCEDURE [dbo].[sp_AddTask]
    @StudentID         INT,
    @SubjectID         INT,
    @Title             NVARCHAR(200),
    @Description       NVARCHAR(1000) = NULL,
    @DueDate           DATETIME,
    @TaskType          NVARCHAR(50),
    @RecurrenceType    NVARCHAR(20) = 'None',
    @RecurrenceEndDate DATE = NULL        -- DATE (nem DATETIME) – egyezik a táblaoszloppal
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Subjects WHERE SubjectID = @SubjectID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A tantárgy nem létezik!' AS Message;
        RETURN;
    END

    INSERT INTO Tasks (CreatedBy, SubjectID, Title, Description, DueDate, TaskType, RecurrenceType, RecurrenceEndDate)
    VALUES (@StudentID, @SubjectID, @Title, @Description, @DueDate, @TaskType, @RecurrenceType, @RecurrenceEndDate);

    DECLARE @ParentID INT = SCOPE_IDENTITY();

    IF @RecurrenceType <> 'None' AND @RecurrenceEndDate IS NOT NULL
    BEGIN
        DECLARE @NextDate DATETIME = @DueDate;
        DECLARE @MaxIterations INT = 0;

        WHILE @MaxIterations < 52
        BEGIN
            SET @NextDate = CASE @RecurrenceType
                WHEN 'Weekly'   THEN DATEADD(WEEK, 1, @NextDate)
                WHEN 'Biweekly' THEN DATEADD(WEEK, 2, @NextDate)
                WHEN 'Monthly'  THEN DATEADD(MONTH, 1, @NextDate)
                ELSE @RecurrenceEndDate
            END;

            IF @NextDate > @RecurrenceEndDate BREAK;

            INSERT INTO Tasks (CreatedBy, SubjectID, Title, Description, DueDate, TaskType, RecurrenceType, RecurrenceEndDate, ParentTaskID)
            VALUES (@StudentID, @SubjectID, @Title, @Description, @NextDate, @TaskType, @RecurrenceType, @RecurrenceEndDate, @ParentID);

            SET @MaxIterations = @MaxIterations + 1;
        END
    END

    SELECT 'OK' AS Status, 'Feladat sikeresen hozzáadva!' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_ChangeUserRole]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 2. sp_Admin_ChangeUserRole
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_ChangeUserRole]
    @AdminUserID  INT,
    @TargetUserID INT,
    @NewRole      NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @AdminUserID AND UserRole = 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs admin jogosultságod.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @TargetUserID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A felhasználó nem található.' AS Message;
        RETURN;
    END

    IF @AdminUserID = @TargetUserID
    BEGIN
        SELECT 'ERROR' AS Status, 'Saját szerepkörödet nem módosíthatod.' AS Message;
        RETURN;
    END

    IF @NewRole NOT IN ('Student', 'Teacher', 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Érvénytelen szerepkör. (Student / Teacher / Admin)' AS Message;
        RETURN;
    END

    UPDATE [dbo].[Users] SET UserRole = @NewRole WHERE UserID = @TargetUserID;

    SELECT 'OK' AS Status, 'Szerepkör sikeresen módosítva.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_DeleteExam]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 3. sp_Admin_DeleteExam: TeacherExams tábla (nem deprecated Exams)
--    Korábban a deprecated Exams táblát törölte, ami mindig "nem találtát" adott.
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_DeleteExam]
    @AdminUserID INT,
    @ExamID      INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @AdminUserID AND UserRole = 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs admin jogosultságod.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM TeacherExams WHERE ExamID = @ExamID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A dolgozat nem található.' AS Message;
        RETURN;
    END

    BEGIN TRY
        DELETE FROM [dbo].[TeacherExams] WHERE ExamID = @ExamID;
        SELECT 'OK' AS Status, 'Dolgozat sikeresen törölve.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS Status, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_DeleteGroup]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 7. sp_Admin_DeleteGroup
--    Kaszkád törlés: tagok, meghívók, szavazások, dolgozatok
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_DeleteGroup]
    @AdminUserID INT,
    @GroupID     INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @AdminUserID AND UserRole = 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs admin jogosultságod.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Groups WHERE GroupID = @GroupID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A csoport nem található.' AS Message;
        RETURN;
    END

    BEGIN TRY
        DELETE pv FROM [dbo].[PollVotes] pv
            INNER JOIN [dbo].[Polls] p ON p.PollID = pv.PollID
            WHERE p.GroupID = @GroupID;

        DELETE po FROM [dbo].[PollOptions] po
            INNER JOIN [dbo].[Polls] p ON p.PollID = po.PollID
            WHERE p.GroupID = @GroupID;

        DELETE FROM [dbo].[Polls]              WHERE GroupID = @GroupID;
        DELETE FROM [dbo].[GroupTasks]           WHERE GroupID = @GroupID;
        DELETE FROM [dbo].[GroupScheduleEntries] WHERE GroupID = @GroupID;
        DELETE FROM [dbo].[GroupInvites] WHERE GroupID = @GroupID;
        DELETE FROM [dbo].[GroupMembers] WHERE GroupID = @GroupID;
        DELETE FROM [dbo].[Groups] WHERE GroupID = @GroupID;

        SELECT 'OK' AS Status, 'Csoport és összes kapcsolódó adata törölve.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS Status, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_DeletePoll]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 10. sp_Admin_DeletePoll
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_DeletePoll]
    @AdminUserID INT,
    @PollID      INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @AdminUserID AND UserRole = 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs admin jogosultságod.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Polls WHERE PollID = @PollID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A szavazás nem található.' AS Message;
        RETURN;
    END

    BEGIN TRY
        DELETE FROM [dbo].[PollVotes]   WHERE PollID = @PollID;
        DELETE FROM [dbo].[PollOptions] WHERE PollID = @PollID;
        DELETE FROM [dbo].[Polls]       WHERE PollID = @PollID;
        SELECT 'OK' AS Status, 'Szavazás sikeresen törölve.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS Status, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_DeleteTask]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 12. sp_Admin_DeleteTask
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_DeleteTask]
    @AdminUserID INT,
    @TaskID      INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @AdminUserID AND UserRole = 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs admin jogosultságod.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Tasks WHERE TaskID = @TaskID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A feladat nem található.' AS Message;
        RETURN;
    END

    BEGIN TRY
        DELETE FROM [dbo].[Tasks] WHERE TaskID = @TaskID;
        SELECT 'OK' AS Status, 'Feladat sikeresen törölve.' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS Status, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_DeleteUser]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 4. sp_Admin_DeleteUser
--    Ha FK constraint akadályoz -> soft-delete fallback (IsActive=0)
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_DeleteUser]
    @AdminUserID  INT,
    @TargetUserID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @AdminUserID AND UserRole = 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs admin jogosultságod.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @TargetUserID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A felhasználó nem található.' AS Message;
        RETURN;
    END

    IF @AdminUserID = @TargetUserID
    BEGIN
        SELECT 'ERROR' AS Status, 'Saját fiókodat nem törölheted.' AS Message;
        RETURN;
    END

    BEGIN TRY
        DELETE FROM [dbo].[Users] WHERE UserID = @TargetUserID;
        SELECT 'OK' AS Status, 'Felhasználó sikeresen törölve.' AS Message;
    END TRY
    BEGIN CATCH
        UPDATE [dbo].[Users] SET IsActive = 0 WHERE UserID = @TargetUserID;
        SELECT 'OK' AS Status, 'Felhasználó letiltva (soft-delete, FK hivatkozás miatt nem törölhető).' AS Message;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_GetAllGroups]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 6. sp_Admin_GetAllGroups
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_GetAllGroups]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        g.GroupID,
        g.GroupName,
        g.CreatedBy,
        ISNULL(u.FirstName + ' ' + u.LastName, u.Username) AS OwnerName,
        u.UserRole                                          AS OwnerRole,
        g.CreatedAt,
        (SELECT COUNT(*) FROM GroupMembers gm WHERE gm.GroupID = g.GroupID) AS MemberCount
    FROM [dbo].[Groups] g
    LEFT JOIN [dbo].[Users] u ON u.UserID = g.CreatedBy
    ORDER BY g.CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_GetAllUsers]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 1. sp_Admin_GetAllUsers
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        UserID,
        Username,
        Email,
        FirstName,
        LastName,
        UserRole,
        CreatedAt,
        IsActive
    FROM [dbo].[Users]
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_GetAuditLog]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 8. sp_Admin_GetAuditLog
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_GetAuditLog]
    @Limit INT = 100
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@Limit)
        LogID,
        UserID,
        Username,
        Action,
        Details,
        CreatedAt
    FROM [dbo].[AuditLog]
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_GetGroupExams]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- sp_Admin_GetGroupExams
-- Lekéri egy csoport összes dolgozatát (admin számára)
-- Használat: Admin panel > Csoportok tab > kattintható sor
-- =============================================

CREATE PROCEDURE [dbo].[sp_Admin_GetGroupExams]
    @GroupID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        e.ExamID,
        e.Title,
        e.Description,
        e.ExamDate,
        ISNULL(u.Username, 'Ismeretlen') AS CreatedByName,
        e.SubjectName,
        e.CreatedAt
    FROM TeacherExams e
    LEFT JOIN Users u ON u.UserID = e.CreatedBy
    WHERE e.GroupID = @GroupID
    ORDER BY e.ExamDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_GetSystemStats]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Admin_GetSystemStats]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        (SELECT COUNT(*) FROM Users)                                                           AS TotalUsers,
        (SELECT COUNT(*) FROM Users WHERE UserRole = 'Student')                               AS TotalStudents,
        (SELECT COUNT(*) FROM Users WHERE UserRole = 'Teacher')                               AS TotalTeachers,
        (SELECT COUNT(*) FROM Users WHERE UserRole = 'Admin')                                 AS TotalAdmins,
        (SELECT COUNT(*) FROM Groups)                                                          AS TotalGroups,
        (SELECT COUNT(*) FROM Subjects)                                                        AS TotalSubjects,
        (SELECT COUNT(*) FROM Tasks)                                                           AS TotalTasks,
        (SELECT COUNT(*) FROM Polls)                                                           AS TotalPolls,
        (SELECT COUNT(*) FROM TeacherExams)                                                    AS TotalExams,
        (SELECT COUNT(*) FROM Users WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE))  AS NewUsersToday,
        (SELECT COUNT(*) FROM Users WHERE CreatedAt >= DATEADD(DAY, -7, GETDATE()))           AS NewUsersThisWeek,
        (SELECT COUNT(*) FROM Tasks WHERE IsCompleted = 0)                                    AS ActiveTasksCount,
        (SELECT COUNT(*) FROM Tasks WHERE IsCompleted = 0 AND DueDate < GETDATE())            AS OverdueTasksCount;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_RenameUser]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Admin_RenameUser]
    @AdminUserID  INT,
    @TargetUserID INT,
    @FirstName    NVARCHAR(50),
    @LastName     NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @AdminUserID AND UserRole = 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs admin jogosultságod.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @TargetUserID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A felhasználó nem található.' AS Message;
        RETURN;
    END

    UPDATE Users SET FirstName = @FirstName, LastName = @LastName WHERE UserID = @TargetUserID;
    SELECT 'OK' AS Status, 'Név sikeresen módosítva.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_ToggleUserActive]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 3. sp_Admin_ToggleUserActive
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_ToggleUserActive]
    @AdminUserID  INT,
    @TargetUserID INT,
    @IsActive     BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @AdminUserID AND UserRole = 'Admin')
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs admin jogosultságod.' AS Message;
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @TargetUserID)
    BEGIN
        SELECT 'ERROR' AS Status, 'A felhasználó nem található.' AS Message;
        RETURN;
    END

    IF @AdminUserID = @TargetUserID AND @IsActive = 0
    BEGIN
        SELECT 'ERROR' AS Status, 'Saját fiókodat nem deaktiválhatod.' AS Message;
        RETURN;
    END

    UPDATE [dbo].[Users] SET IsActive = @IsActive WHERE UserID = @TargetUserID;

    DECLARE @Msg NVARCHAR(100) = CASE WHEN @IsActive = 1 THEN 'Felhasználó aktiválva.' ELSE 'Felhasználó letiltva.' END;
    SELECT 'OK' AS Status, @Msg AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_WriteAuditLog]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 9. sp_Admin_WriteAuditLog
-- ============================================================
CREATE PROCEDURE [dbo].[sp_Admin_WriteAuditLog]
    @UserID  INT,
    @Action  NVARCHAR(100),
    @Details NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Uname NVARCHAR(100) = (SELECT Username FROM Users WHERE UserID = @UserID);
    INSERT INTO [dbo].[AuditLog] (UserID, Username, Action, Details)
    VALUES (@UserID, @Uname, @Action, @Details);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChangePassword]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Jelszóváltás
CREATE PROCEDURE [dbo].[sp_ChangePassword]
    @UserID          INT,
    @NewPasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users SET PasswordHash = @NewPasswordHash WHERE UserID = @UserID;

    SELECT 'SUCCESS' AS Status, 'Jelszó sikeresen módosítva!' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CompleteTask]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CompleteTask]
    @TaskID    INT,
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Tasks WHERE TaskID = @TaskID AND CreatedBy = @StudentID)
    BEGIN
        SELECT 'ERROR' AS Status, 'Feladat nem található.' AS Message;
        RETURN;
    END

    UPDATE dbo.Tasks SET IsCompleted = 1 WHERE TaskID = @TaskID AND CreatedBy = @StudentID;

    SELECT 'OK' AS Status, 'Feladat teljesítve.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateGroup]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateGroup]
    @UserID    INT,
    @GroupName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF @GroupName IS NULL OR LTRIM(RTRIM(@GroupName)) = ''
    BEGIN
        SELECT 'ERROR' AS Status, 'A csoport neve kötelező.' AS Message;
        RETURN;
    END

    DECLARE @GroupID INT;

    INSERT INTO Groups (GroupName, CreatedBy)
    VALUES (LTRIM(RTRIM(@GroupName)), @UserID);

    SET @GroupID = SCOPE_IDENTITY();

    INSERT INTO GroupMembers (GroupID, StudentID)
    VALUES (@GroupID, @UserID);

    SELECT 'OK' AS Status, 'Csoport sikeresen létrehozva.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePoll]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreatePoll]
    @GroupID   INT,
    @CreatedBy INT,
    @Question  NVARCHAR(500),
    @ExpiresAt DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @CreatedBy
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Nem vagy tagja a csoportnak.' AS Message;
        RETURN;
    END

    INSERT INTO Polls (GroupID, CreatedBy, Question, ExpiresAt)
    VALUES (@GroupID, @CreatedBy, @Question, @ExpiresAt);

    SELECT 'OK' AS Status, 'Szavazás létrehozva.' AS Message,
           SCOPE_IDENTITY() AS PollID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTeacherExam]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateTeacherExam]
    @GroupID     INT,
    @CreatedBy   INT,
    @Title       NVARCHAR(200),
    @Description NVARCHAR(1000) = NULL,
    @ExamDate    DATETIME2,
    @SubjectName NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @CreatedBy
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Nem vagy tagja a csoportnak.' AS Message;
        RETURN;
    END

    INSERT INTO TeacherExams (GroupID, CreatedBy, Title, Description, ExamDate, SubjectName)
    VALUES (@GroupID, @CreatedBy, @Title, @Description, @ExamDate, @SubjectName);

    SELECT 'OK' AS Status, 'Dolgozat hozzáadva a naptárhoz.' AS Message,
           SCOPE_IDENTITY() AS ExamID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeclineGroupInvite]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 2. sp_DeclineGroupInvite: Status mező frissítése (nem DELETE)
--    Korábban a rekord törlésre került, így a Status soha nem frissült.
-- ============================================================
CREATE PROCEDURE [dbo].[sp_DeclineGroupInvite]
    @InviteID   INT,
    @StudentID  INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InvitedEmail NVARCHAR(200);
    SELECT @InvitedEmail = Email FROM Users WHERE UserID = @StudentID;

    IF NOT EXISTS (
        SELECT 1 FROM GroupInvites
        WHERE InviteID = @InviteID
          AND InvitedEmail = @InvitedEmail
          AND IsAccepted = 0
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'A meghívó nem található vagy már elfogadásra/elutasításra került.' AS Message;
        RETURN;
    END

    UPDATE GroupInvites
    SET IsAccepted = 1, Status = 'Declined'
    WHERE InviteID = @InviteID;

    SELECT 'OK' AS Status, 'Meghívó elutasítva.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteGroupScheduleEntry]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteGroupScheduleEntry]
    @GroupID  INT,
    @EntryID  INT,
    @UserID   INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AddedBy INT;
    DECLARE @OwnerID INT;

    SELECT @AddedBy = AddedBy FROM GroupScheduleEntries WHERE EntryID = @EntryID AND GroupID = @GroupID;

    IF @AddedBy IS NULL
    BEGIN
        SELECT 'ERROR' AS Status, 'Bejegyzés nem található.' AS Message;
        RETURN;
    END

    SELECT @OwnerID = CreatedBy FROM Groups WHERE GroupID = @GroupID;

    IF @UserID <> @AddedBy AND @UserID <> @OwnerID
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs jogosultságod törölni.' AS Message;
        RETURN;
    END

    DELETE FROM GroupScheduleEntries WHERE EntryID = @EntryID;
    SELECT 'OK' AS Status, 'Csoport órarend bejegyzés törölve.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteGroupTask]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteGroupTask]
    @GroupID INT,
    @TaskID  INT,
    @UserID  INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AddedBy INT;
    DECLARE @OwnerID INT;

    SELECT @AddedBy = AddedBy FROM GroupTasks WHERE TaskID = @TaskID AND GroupID = @GroupID;

    IF @AddedBy IS NULL
    BEGIN
        SELECT 'ERROR' AS Status, 'Feladat nem található.' AS Message;
        RETURN;
    END

    SELECT @OwnerID = CreatedBy FROM Groups WHERE GroupID = @GroupID;

    IF @UserID <> @AddedBy AND @UserID <> @OwnerID
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs jogosultságod törölni.' AS Message;
        RETURN;
    END

    DELETE FROM GroupTasks WHERE TaskID = @TaskID;
    SELECT 'OK' AS Status, 'Csoportos feladat törölve.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePoll]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeletePoll]
    @PollID    INT,
    @RequestBy INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Polls WHERE PollID = @PollID AND CreatedBy = @RequestBy)
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs jogosultságod törölni.' AS Message;
        RETURN;
    END
    DELETE FROM Polls WHERE PollID = @PollID;
    SELECT 'OK' AS Status, 'Szavazás törölve.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteScheduleEntry]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteScheduleEntry]
    @EntryID INT,
    @StudentID INT
AS
BEGIN
    DELETE FROM ScheduleEntries WHERE EntryID = @EntryID AND StudentID = @StudentID
    SELECT 'OK' AS Status, 'Bejegyzés törölve.' AS Message
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTask]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteTask]
    @TaskID    INT,
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Tasks WHERE TaskID = @TaskID AND CreatedBy = @StudentID)
    BEGIN
        SELECT 'ERROR' AS Status, 'Feladat nem található.' AS Message;
        RETURN;
    END

    DELETE FROM dbo.Tasks WHERE TaskID = @TaskID AND CreatedBy = @StudentID;

    SELECT 'OK' AS Status, 'Feladat törölve.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTeacherExam]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteTeacherExam]
    @ExamID    INT,
    @RequestBy INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM TeacherExams WHERE ExamID = @ExamID AND CreatedBy = @RequestBy)
    BEGIN
        SELECT 'ERROR' AS Status, 'Nincs jogosultságod törölni.' AS Message;
        RETURN;
    END
    DELETE FROM TeacherExams WHERE ExamID = @ExamID;
    SELECT 'OK' AS Status, 'Dolgozat törölve.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DropSubject]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DropSubject]
    @StudentID INT,
    @SubjectID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM dbo.StudentSubjects
        WHERE StudentID = @StudentID AND SubjectID = @SubjectID
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Ezt a tantárgyat nem vetted fel.' AS Message;
        RETURN;
    END

    DELETE FROM dbo.StudentSubjects
    WHERE StudentID = @StudentID AND SubjectID = @SubjectID;

    UPDATE dbo.Subjects
    SET CurrentEnrollment = CurrentEnrollment - 1
    WHERE SubjectID = @SubjectID;

    SELECT 'OK' AS Status, 'Tantárgy sikeresen leadva.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EnrollCustomSubject]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EnrollCustomSubject]
    @StudentID   INT,
    @SubjectName NVARCHAR(200),
    @SubjectCode NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.StudentSubjects ss
        INNER JOIN dbo.Subjects s ON s.SubjectID = ss.SubjectID
        WHERE ss.StudentID = @StudentID
          AND s.SubjectName = @SubjectName
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Ezt a tantárgyat már felvetted.' AS Message;
        RETURN;
    END

    DECLARE @ExistingPublicID INT;
    SELECT TOP 1 @ExistingPublicID = SubjectID
    FROM dbo.Subjects
    WHERE SubjectName = @SubjectName
      AND IsPrivate = 0
      AND IsActive = 1;

    IF @ExistingPublicID IS NOT NULL
    BEGIN
        INSERT INTO dbo.StudentSubjects (StudentID, SubjectID)
        VALUES (@StudentID, @ExistingPublicID);

        UPDATE dbo.Subjects
        SET CurrentEnrollment = CurrentEnrollment + 1
        WHERE SubjectID = @ExistingPublicID;

        SELECT 'OK' AS Status, 'Tantárgy sikeresen felvéve.' AS Message;
        RETURN;
    END

    DECLARE @SubjectID INT;

    INSERT INTO dbo.Subjects (SubjectName, SubjectCode, IsActive, CurrentEnrollment, CreatedBy, IsPrivate)
    VALUES (@SubjectName, @SubjectCode, 1, 0, @StudentID, 1);

    SET @SubjectID = SCOPE_IDENTITY();

    INSERT INTO dbo.StudentSubjects (StudentID, SubjectID)
    VALUES (@StudentID, @SubjectID);

    UPDATE dbo.Subjects SET CurrentEnrollment = 1 WHERE SubjectID = @SubjectID;

    SELECT 'OK' AS Status, 'Tantárgy sikeresen felvéve.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EnrollSubject]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EnrollSubject]
    @StudentID INT,
    @SubjectID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM dbo.StudentSubjects
        WHERE StudentID = @StudentID AND SubjectID = @SubjectID
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Ezt a tantárgyat már felvetted.' AS Message;
        RETURN;
    END

    INSERT INTO dbo.StudentSubjects (StudentID, SubjectID)
    VALUES (@StudentID, @SubjectID);

    UPDATE dbo.Subjects
    SET CurrentEnrollment = CurrentEnrollment + 1
    WHERE SubjectID = @SubjectID;

    SELECT 'OK' AS Status, 'Tantárgy sikeresen felvéve.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSubjects]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSubjects]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.SubjectID,
        s.SubjectName,
        s.SubjectCode,
        s.TeacherID,
        ISNULL(u.FirstName + ' ' + u.LastName, '') AS TeacherName,
        s.CurrentEnrollment
    FROM dbo.Subjects s
    LEFT JOIN dbo.Users u ON s.TeacherID = u.UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailableSubjects]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAvailableSubjects]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        s.SubjectID,
        s.SubjectName,
        s.SubjectCode,
        s.TeacherID,
        ISNULL(u.FirstName + ' ' + u.LastName, '') AS TeacherName,
        s.CurrentEnrollment
    FROM dbo.Subjects s
    LEFT JOIN dbo.Users u ON s.TeacherID = u.UserID
    WHERE s.IsActive = 1
    AND s.SubjectID NOT IN (
        SELECT SubjectID FROM dbo.StudentSubjects WHERE StudentID = @StudentID
    )
    AND (s.IsPrivate = 0 OR s.CreatedBy = @StudentID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGroupExams]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ADMIN FIX: sp_GetGroupExams — Admin láthatja bármely csoport dolgozatait
-- ============================================================
CREATE PROCEDURE [dbo].[sp_GetGroupExams]
    @GroupID INT,
    @UserID  INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID AND UserRole = 'Admin')
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @UserID
        )
        BEGIN
            SELECT 'ERROR' AS Status, 'Nem vagy tagja a csoportnak.' AS Message;
            RETURN;
        END
    END

    SELECT
        e.ExamID,
        e.GroupID,
        g.GroupName,
        e.CreatedBy,
        CONCAT(u.FirstName, ' ', u.LastName) AS CreatedByName,
        e.Title,
        e.Description,
        e.ExamDate,
        e.SubjectName,
        e.CreatedAt
    FROM TeacherExams e
    INNER JOIN Groups g ON g.GroupID = e.GroupID
    INNER JOIN Users u ON u.UserID = e.CreatedBy
    WHERE e.GroupID = @GroupID
    ORDER BY e.ExamDate;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGroupMembers]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ADMIN FIX: sp_GetGroupMembers — Admin láthatja bármely csoport tagjait
-- ============================================================
CREATE PROCEDURE [dbo].[sp_GetGroupMembers]
    @GroupID INT,
    @StudentID INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @StudentID AND UserRole = 'Admin')
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @StudentID)
        BEGIN
            SELECT 'ERROR' AS Status, 'Nem vagy tagja ennek a csoportnak.' AS Message
            RETURN
        END
    END

    SELECT
        u.UserID,
        u.FirstName,
        u.LastName,
        u.Email,
        gm.JoinedAt,
        CASE WHEN g.CreatedBy = u.UserID THEN 1 ELSE 0 END AS IsOwner
    FROM GroupMembers gm
    INNER JOIN Users u ON gm.StudentID = u.UserID
    INNER JOIN Groups g ON gm.GroupID = g.GroupID
    WHERE gm.GroupID = @GroupID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGroupPolls]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ADMIN FIX: sp_GetGroupPolls — Admin láthatja bármely csoport szavazásait
-- ============================================================
CREATE PROCEDURE [dbo].[sp_GetGroupPolls]
    @GroupID INT,
    @UserID  INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @UserID AND UserRole = 'Admin')
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @UserID
        )
        BEGIN
            SELECT 'ERROR' AS Status, 'Nem vagy tagja a csoportnak.' AS Message;
            RETURN;
        END
    END

    SELECT
        p.PollID,
        p.GroupID,
        p.CreatedBy,
        CONCAT(u.FirstName, ' ', u.LastName) AS CreatedByName,
        p.Question,
        p.CreatedAt,
        p.ExpiresAt,
        p.IsActive,
        po.OptionID,
        po.OptionText,
        po.SortOrder,
        (SELECT COUNT(*) FROM PollVotes pv WHERE pv.OptionID = po.OptionID) AS VoteCount,
        (SELECT TOP 1 pv2.OptionID FROM PollVotes pv2
         WHERE pv2.PollID = p.PollID AND pv2.UserID = @UserID) AS MyVoteOptionID
    FROM Polls p
    INNER JOIN Users u ON u.UserID = p.CreatedBy
    INNER JOIN PollOptions po ON po.PollID = p.PollID
    WHERE p.GroupID = @GroupID
    ORDER BY p.CreatedAt DESC, po.SortOrder;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGroupSchedule]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ──────────────────────────────────────────────────────────────
-- 3. sp_GetGroupSchedule – új mezők visszaadása
-- ──────────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_GetGroupSchedule]
    @GroupID   INT,
    @StudentID INT,
    @UserRole  NVARCHAR(20) = 'Student'
AS
BEGIN
    SET NOCOUNT ON;

    IF @UserRole <> 'Admin'
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM GroupMembers
            WHERE GroupID = @GroupID AND StudentID = @StudentID
        )
        BEGIN
            SELECT 'ERROR' AS Status, 'Nem vagy tagja ennek a csoportnak.' AS Message;
            RETURN;
        END
    END

    SELECT
        gse.EntryID,
        gse.AddedBy                             AS OwnerID,
        u.FirstName + ' ' + u.LastName          AS OwnerName,
        gse.SubjectID,
        s.SubjectName,
        s.SubjectCode,
        gse.DayOfWeek,
        CONVERT(VARCHAR(5), gse.StartTime, 108) AS StartTime,
        CONVERT(VARCHAR(5), gse.EndTime,   108) AS EndTime,
        gse.Location,
        gse.RecurrenceType,
        gse.RecurrenceEndDate,
        gse.StartDate,
        gse.CreatedAt
    FROM GroupScheduleEntries gse
    INNER JOIN Users u    ON u.UserID    = gse.AddedBy
    INNER JOIN Subjects s ON s.SubjectID = gse.SubjectID
    WHERE gse.GroupID = @GroupID
    ORDER BY gse.DayOfWeek, gse.StartTime;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGroupSubjects]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 4. sp_GetGroupSubjects: StudentSubjects tábla (nem Enrollments)
--    Korábban az Enrollments táblát olvasta, amit az app soha nem tölt fel.
-- ============================================================
CREATE PROCEDURE [dbo].[sp_GetGroupSubjects]
    @GroupID    INT,
    @StudentID  INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Admin mindent láthat
    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @StudentID AND UserRole = 'Admin')
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @StudentID
        )
            RETURN;
    END

    SELECT DISTINCT
        s.SubjectID,
        s.SubjectName,
        s.SubjectCode
    FROM StudentSubjects ss
    INNER JOIN Subjects s ON s.SubjectID = ss.SubjectID
    WHERE ss.StudentID IN (
        SELECT gm.StudentID
        FROM GroupMembers gm
        INNER JOIN Users u ON u.UserID = gm.StudentID
        WHERE gm.GroupID = @GroupID
          AND u.UserRole = 'Student'
    )
    ORDER BY s.SubjectName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGroupTasks]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ADMIN FIX: sp_GetGroupTasks — Admin láthatja bármely csoport feladatait
-- ============================================================
CREATE PROCEDURE [dbo].[sp_GetGroupTasks]
    @GroupID    INT,
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE UserID = @StudentID AND UserRole = 'Admin')
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM GroupMembers
            WHERE GroupID = @GroupID AND StudentID = @StudentID
        )
            RETURN;
    END

    SELECT
        gt.TaskID,
        gt.AddedBy AS OwnerID,
        u.FirstName + ' ' + u.LastName AS OwnerName,
        gt.SubjectID,
        s.SubjectName,
        gt.Title,
        gt.Description,
        gt.DueDate,
        gt.TaskType,
        gt.IsCompleted
    FROM GroupTasks gt
    INNER JOIN Users u ON u.UserID = gt.AddedBy
    INNER JOIN Subjects s ON s.SubjectID = gt.SubjectID
    WHERE gt.GroupID = @GroupID
    ORDER BY gt.DueDate;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMyEnrollments]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMyEnrollments]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ss.StudentSubjectID AS EnrollmentID,
        ss.StudentID,
        ss.SubjectID,
        s.SubjectCode,
        s.SubjectName,
        0 AS Credits,
        GETDATE() AS EnrolledAt,
        'Active' AS EnrollmentStatus
    FROM dbo.StudentSubjects ss
    INNER JOIN dbo.Subjects s ON ss.SubjectID = s.SubjectID
    WHERE ss.StudentID = @StudentID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMyGroups]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- ADMIN FIX: sp_GetMyGroups — Admin minden csoportot lát
-- ============================================================
CREATE PROCEDURE [dbo].[sp_GetMyGroups]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Users WHERE UserID = @StudentID AND UserRole = 'Admin')
    BEGIN
        SELECT
            g.GroupID,
            g.GroupName,
            g.CreatedBy,
            g.CreatedAt,
            (SELECT COUNT(*) FROM GroupMembers WHERE GroupID = g.GroupID) AS MemberCount,
            CASE WHEN g.CreatedBy = @StudentID THEN 1 ELSE 0 END AS IsOwner,
            ISNULL(u.UserRole, 'Student') AS OwnerRole
        FROM Groups g
        INNER JOIN Users u ON u.UserID = g.CreatedBy;
        RETURN;
    END

    SELECT
        g.GroupID,
        g.GroupName,
        g.CreatedBy,
        g.CreatedAt,
        (SELECT COUNT(*) FROM GroupMembers WHERE GroupID = g.GroupID) AS MemberCount,
        CASE WHEN g.CreatedBy = @StudentID THEN 1 ELSE 0 END AS IsOwner,
        ISNULL(u.UserRole, 'Student') AS OwnerRole
    FROM Groups g
    INNER JOIN GroupMembers gm ON g.GroupID = gm.GroupID
    INNER JOIN Users u ON u.UserID = g.CreatedBy
    WHERE gm.StudentID = @StudentID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMyInvites]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMyInvites]
    @Email NVARCHAR(200)
AS
BEGIN
    SELECT
        gi.InviteID,
        gi.GroupID,
        g.GroupName,
        u.FirstName + ' ' + u.LastName AS InvitedByName,
        gi.CreatedAt
    FROM GroupInvites gi
    INNER JOIN Groups g ON gi.GroupID = g.GroupID
    INNER JOIN Users u ON gi.InvitedBy = u.UserID
    WHERE gi.InvitedEmail = @Email AND gi.IsAccepted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMySchedule]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ──────────────────────────────────────────────────────────────
-- 3. sp_GetMySchedule – StartDate visszaadása a frontendnek
-- ──────────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_GetMySchedule]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        se.EntryID,
        se.StudentID,
        se.SubjectID,
        s.SubjectName,
        s.SubjectCode,
        se.DayOfWeek,
        CONVERT(VARCHAR(5), se.StartTime, 108) AS StartTime,
        CONVERT(VARCHAR(5), se.EndTime,   108) AS EndTime,
        se.Location,
        se.RecurrenceType,
        se.RecurrenceEndDate,
        se.StartDate,
        se.CreatedAt
    FROM ScheduleEntries se
    INNER JOIN Subjects s ON s.SubjectID = se.SubjectID
    WHERE se.StudentID = @StudentID
    ORDER BY se.DayOfWeek, se.StartTime;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMyTasks]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMyTasks]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        t.TaskID, t.CreatedBy,
        t.SubjectID, s.SubjectName, s.SubjectCode,
        t.Title, t.Description, t.DueDate, t.TaskType,
        t.IsCompleted, t.CreatedAt, t.RecurrenceType,
        t.RecurrenceEndDate, t.ParentTaskID
    FROM Tasks t
    LEFT JOIN Subjects s ON s.SubjectID = t.SubjectID
    WHERE t.CreatedBy = @StudentID
    ORDER BY t.DueDate;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserById]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        UserID,
        Username,
        Email,
        FirstName,
        LastName,
        UserRole,
        CreatedAt
    FROM Users 
    WHERE UserID = @UserID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InviteToGroup]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InviteToGroup]
    @GroupID INT,
    @InvitedBy INT,
    @InvitedEmail NVARCHAR(200)
AS
BEGIN
    DECLARE @InvitedUserID INT
    SELECT @InvitedUserID = UserID FROM Users WHERE Email = @InvitedEmail

    IF @InvitedUserID IS NULL
    BEGIN
        SELECT 'ERROR' AS Status, 'Nem létezik ilyen emailcímű felhasználó.' AS Message
        RETURN
    END

    IF EXISTS (SELECT 1 FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @InvitedUserID)
    BEGIN
        SELECT 'ERROR' AS Status, 'Ez a felhasználó már tagja a csoportnak.' AS Message
        RETURN
    END

    IF EXISTS (SELECT 1 FROM GroupInvites WHERE GroupID = @GroupID AND InvitedEmail = @InvitedEmail AND IsAccepted = 0)
    BEGIN
        SELECT 'ERROR' AS Status, 'Ez a felhasználó már meg van hívva.' AS Message
        RETURN
    END

    INSERT INTO GroupInvites (GroupID, InvitedEmail, InvitedBy)
    VALUES (@GroupID, @InvitedEmail, @InvitedBy)

    SELECT 'OK' AS Status, 'Meghívó sikeresen elküldve.' AS Message
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LeaveGroup]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LeaveGroup]
    @GroupID    INT,
    @StudentID  INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM GroupMembers
        WHERE GroupID = @GroupID AND StudentID = @StudentID
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Nem vagy tagja ennek a csoportnak.' AS Message;
        RETURN;
    END

    IF EXISTS (
        SELECT 1 FROM Groups
        WHERE GroupID = @GroupID AND CreatedBy = @StudentID
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'A csoport tulajdonosa nem léphet ki.' AS Message;
        RETURN;
    END

    DELETE FROM GroupMembers WHERE GroupID = @GroupID AND StudentID = @StudentID;

    SELECT 'OK' AS Status, 'Sikeresen kiléptél a csoportból.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SELECT 
            'SUCCESS' AS Status,
            UserID,
            Username,
            PasswordHash,
            Email,
            FirstName,
            LastName,
            UserRole,
            CreatedAt
        FROM Users 
        WHERE Username = @Username;
    END
    ELSE
    BEGIN
        SELECT 'ERROR' AS Status, 'A felhasználó nem található!' AS Message;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterUser]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Email NVARCHAR(100),
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @UserRole NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        SELECT 'ERROR' AS Status, 'A felhasználónév már foglalt!' AS Message;
        RETURN;
    END
    
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        SELECT 'ERROR' AS Status, 'Az email cím már használatban van!' AS Message;
        RETURN;
    END
    
    BEGIN TRY
        INSERT INTO Users (Username, PasswordHash, Email, FirstName, LastName, UserRole)
        VALUES (@Username, @PasswordHash, @Email, @FirstName, @LastName, @UserRole);
        
        SELECT 
            'SUCCESS' AS Status,
            'Sikeres regisztráció!' AS Message,
            UserID,
            Username,
            Email,
            FirstName,
            LastName,
            UserRole,
            CreatedAt
        FROM Users 
        WHERE UserID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        SELECT 'ERROR' AS Status, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UncompleteTask]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UncompleteTask]
    @TaskID INT,
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Tasks WHERE TaskID = @TaskID AND CreatedBy = @StudentID)
    BEGIN
        SELECT 'ERROR' AS Status, 'Feladat nem található.' AS Message;
        RETURN;
    END
    UPDATE Tasks SET IsCompleted = 0
    WHERE TaskID = @TaskID AND CreatedBy = @StudentID;
    SELECT 'OK' AS Status, 'Feladat visszaállítva.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUsername]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Felhasználónév módosítása
CREATE PROCEDURE [dbo].[sp_UpdateUsername]
    @UserID      INT,
    @NewUsername NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Users WHERE Username = @NewUsername AND UserID != @UserID
    )
    BEGIN
        SELECT 'ERROR' AS Status, 'Ez a felhasználónév már foglalt!' AS Message;
        RETURN;
    END

    UPDATE Users SET Username = @NewUsername WHERE UserID = @UserID;

    SELECT
        'SUCCESS'  AS Status,
        'Felhasználónév sikeresen módosítva!' AS Message,
        UserID, Username, Email, FirstName, LastName, UserRole, CreatedAt
    FROM Users
    WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VotePoll]    Script Date: 4/1/2026 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_VotePoll]
    @PollID   INT,
    @OptionID INT,
    @UserID   INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM PollVotes WHERE PollID = @PollID AND UserID = @UserID)
    BEGIN
        UPDATE PollVotes SET OptionID = @OptionID, VotedAt = GETDATE()
        WHERE PollID = @PollID AND UserID = @UserID;
    END
    ELSE
    BEGIN
        INSERT INTO PollVotes (PollID, OptionID, UserID) VALUES (@PollID, @OptionID, @UserID);
    END
    SELECT 'OK' AS Status, 'Szavazat rögzítve.' AS Message;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DEPRECATED – Előző verzió maradványa. Az alkalmazás ezt a táblát nem használja, helyette a TeacherExams tábla van érvényben.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Exams'
GO
USE [master]
GO
